
@media (min-width: 1388px) { /*不小于1300px*/
    .home .container{
        width: 1370px !important;
    }

    .home .message-box .show-info .resource-manager-info .person-details-info .detail {
        width: 160px !important;
    }
    .resource-info .resource-content .person-list > .person > .details .describe {
        width: 570px !important;
    }

    .home .bottom .hosp-budget > ul {
        padding: 70px 0 0 20px !important;
    }

    .home .bottom .hosp-budget > ul > li > ul > li {
        margin: 0 22px 22px 22px !important;
    }

    .home .bottom .hosp-budget > ul > li > ul > li > input {
        width: 150px !important;
        height: 30px !important;
    }

    .home .bottom .personnel-training .input-personel td:not(.name-tips):not(.assist-tag):not(.training-tag):not(.meeting-tag) {
        padding: 2px 16px 10px !important;
    }

    .home .bottom .personnel-training .input-training td.input-meeting input {
        width: 575px !important;
        height: 33px !important;
    }

    .home .bottom .personnel-training .input-personel {
        width: 760px !important;
    }

    .home .bottom .personnel-training .input-display {
        margin-left: 765px !important;
    }

    .home .bottom .personnel-training .input-display .text-display {
        margin: 30px 0 0 35px !important;
    }
}


@media (max-width: 1200px) {
    .home .container{
        width: 1370px !important;
    }

    .home .message-box .show-info .resource-manager-info .person-details-info .detail {
        width: 160px !important;
    }

    .resource-info .resource-content .person-list > .person > .details .describe {
        width: 570px !important;
    }

    .home .bottom .hosp-budget > ul {
        padding: 70px 0 0 20px !important;
    }

    .home .bottom .hosp-budget > ul > li > ul > li {
        margin: 0 22px 22px 22px !important;
    }

    .home .bottom .hosp-budget > ul > li > ul > li > input {
        width: 150px !important;
        height: 30px !important;
    }

    .home .bottom .personnel-training .input-personel td:not(.name-tips):not(.assist-tag):not(.training-tag):not(.meeting-tag) {
        padding: 2px 16px 10px !important;
    }

    .home .bottom .personnel-training .input-training td.input-meeting input {
        width: 575px !important;
    }

    .home .bottom .personnel-training .input-personel {
        width: 760px !important;
    }

    .home .bottom .personnel-training .input-display {
        margin-left: 765px !important;
    }

    .home .bottom .personnel-training .input-display .text-display {
        margin: 30px 0 0 35px !important;
    }
}



/* @media (min-width: 768px) {
    .home .container{
        width: 1370px !important;
    }
}

@media (max-width: 768px) {
    .home .container{
        width: 1370px !important;
    }
} */

@-webkit-keyframes Glow {
    from {
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff,
                     0 0 30px #fff,
                     0 0 40px #00a67c,
                     0 0 70px #00a67c,
                     0 0 80px #00a67c,
                     0 0 100px #00a67c,
                     0 0 150px #00a67c;
    }
    to {
        text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #00a67c,
                     0 0 35px #00a67c,
                     0 0 40px #00a67c,
                     0 0 50px #00a67c,
                     0 0 75px #00a67c;
    }
}
@keyframes Glow {
    from {
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff,
                     0 0 30px #fff,
                     0 0 40px #00a67c,
                     0 0 70px #00a67c,
                     0 0 80px #00a67c,
                     0 0 100px #00a67c,
                     0 0 150px #00a67c;
    }
    to {
        text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #00a67c,
                     0 0 35px #00a67c,
                     0 0 40px #00a67c,
                     0 0 50px #00a67c,
                     0 0 75px #00a67c;
    }
}

.home {
    /* min-height: 680px; */
    color: #EEEEEE;
}

.home .bg {
    background-color: #515565;
}

.home .btn-radius {
    border-radius: 50px;
}

.home .btn-tenuous {
    padding: 4px 30px;
}

.home .header {
    width: 100%;
    /* height: 305px; */
    margin-top: 50px;
    /*background-color: #44651b;*/
}

.home .box {
    border-radius: 5px;
    margin-bottom: 5px;
}

.home .header .timer {
    float: right;
    padding-right: 10px;
    border-right: 1px solid #7C7F87;
}
.home .header .config {
    width: 45px;
    float: right;
    cursor: pointer;
}

.home .header .head-describe div[class^="col-md"] {
    min-height: 45px;
    line-height: 45px;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    padding-right: 9px !important;
}

.home .message-box .show-info .decision-info-btn {
    width: 130px;
    height: 130px;
    margin-right: 5px;
    padding-top: 30px;
    float: left;
}

.home .message-box .show-info .resource-manager-info {
    /* width: 1235px; */
    height: 130px;
    margin-left: 135px;
}

.home .message-box .show-info .resource-manager-info .number-info {
    width: 275px;
    height: 124px;
    margin: 3px 0;
    padding: 10px;
    float: left;
    letter-spacing: 0.3rem;
    border-right: 1px solid #5D616E;
}

.home .message-box .show-info .resource-manager-info .number-info p {
    margin: 0 0 6px 0;
}

.home .message-box .show-info .resource-manager-info .number-info .total-budget {
    width: 285px;
    height: 25px;
    border-radius: 20px;
    background-color: #109DC0;
}

.home .message-box .show-info .resource-manager-info .number-info .number-size-lg {
    font-size: 3.4rem;
}

.home .message-box .show-info .resource-manager-info .person-details-info {
    /* width: 960px; */
    margin-left: 275px;
}

.home .message-box .show-info .resource-manager-info .person-details-info .detail {
    width: 125px;
    float: left;
}

.home .message-box .show-info .resource-manager-info .person-details-info p {
    padding: 10px;
}

.home .message-box .show-info .resource-manager-info .person-details-info .graphicsy-pie {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    background: #109DC0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.home .message-box .show-info .resource-manager-info .person-details-info .detail .person-name {
    width: 50px;
    font-size: 1.2rem;
    z-index: auto;
    position: relative;
    left: 90px;
    top: -15px;
}

.home .message-box .hosp-array-info {
    color: #8E8F98;
    letter-spacing: 0.3rem;
    background-color: #444653;
}

/**
 * 替代以前的div布局
 */
.home .message-box .hosp-array-info {
    width: auto;
    height: 135px;
    overflow: hidden;
}

.home .message-box .hosp-array-info > ul {
    width: auto;
    white-space: nowrap;
    overflow-x: auto;
}

.home .message-box .hosp-array-info > ul > li {
    width: 137px;
    height: 135px;
    display: inline-block;
}

.home .message-box .hosp-array-info > ul > li:hover {
    color: #EEEEEE;
    /* -webkit-animation: Glow 1.5s ease infinite alternate;
            animation: Glow 1.5s ease infinite alternate; */
    cursor: pointer;
}

.home .message-box .hosp-array-info > ul > li:not(:last-child) {
    border-right: 1px solid #51535E;
}

.home .message-box .hosp-array-info > ul > li > div[class*="content"] {
    width: 87px;
    margin: 15px auto;
    font-size: 1.8rem;
    /* opacity: 0.4; */
}


.home .bottom {
    width: 100%;
    height: 370px;
    margin-top: 20px;
}

.home .bottom .sales-planning .hosp-info {
    width: 340px;
    height: 370px;
    float: left;
}

.home .bottom .sales-planning .hosp-info p[name="hosp-info-name"] {
    font-size: 2.4rem;
    letter-spacing: .3rem;
    margin: 15px 0 20px 17px;
}

.home .bottom .sales-planning .hosp-info .hosp-info-salesman {
    width: 305px;
    height: 150px;
    margin: 0 auto;
    padding: 0 5px 0px 20px;
    border-bottom: 1px solid #70737F;
}

.home .bottom .sales-planning .hosp-info .hosp-info-salesman > .salesman-picture {
    float: left;
}

.home .bottom .sales-planning .hosp-info .hosp-info-salesman .selected-salesman {
    height: 95px;
    margin: 0 0 0 130px;
    padding: 30px 0 0 0;
    letter-spacing: .3rem;
}

.home .bottom .sales-planning .hosp-info .hosp-info-salesman .selected-salesman > select {
    width: 130px;
    height: 35px;
    margin: 10px 0 0 0;
    border-color: #717480;
    background-color: #717480;
    cursor: pointer;
}

.home .bottom .sales-planning .hosp-info .input-budget {
    width: 305px;
    height: 150px;
    padding: 50px 0 50px 40px;
}

.home .bottom .sales-planning .hosp-info .input-budget > p span:first-child {
    font-size: 1.8rem;
    letter-spacing: .3rem;
}

.home .bottom .sales-planning .hosp-info .input-budget > p input {
    width: 85px;
    height: 35px;
    margin-left: 15px;
    border: 1px solid #717480;
    border-radius: 5px;
    background-color: #717480;
    font-size: 2.4rem;
    text-align: right;
    letter-spacing: .3rem;
}

.home .bottom .sales-planning .hosp-budget {
    margin-left: 345px;
    height: 370px;
}

.home .bottom .sales-planning .hosp-budget > ul {
    padding: 75px 0 0 10px;
}

.home .bottom .sales-planning .hosp-budget > ul > li {
    display: inline-block;
}

.home .bottom .sales-planning .hosp-budget > ul > li > ul > li {
    height: 30px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: .15rem;
    margin: 0 5px 20px 5px;
}

.home .bottom .sales-planning .hosp-budget > ul li[class="left-title"] {
    text-align: right;
}

.home .bottom .sales-planning .hosp-budget > ul > li:not(:first-child) > ul > li:not(:first-child) {
    text-align: right;
}

.home .bottom .sales-planning .hosp-budget > ul > li:not(:first-child) > ul {
    border-right: 1px solid #626673;
}

.home .bottom .sales-planning .hosp-budget > ul li > span[class="hosp-budget-number"] {
    font-size: 2.4rem;
    letter-spacing: .15rem;
}

.home .bottom .sales-planning .hosp-budget > ul > li > ul > li > input {
    width: 145px;
    height: 35px;
    border: 1px solid #757984;
    border-radius: 5px;
    font-size: 2.4rem;
    background-color: #757984;
    text-align: right;
}

.home .bottom .personnel-training .input-personel {
    width: 650px;
    height: 370px;
    float: left;
}

.home .bottom .personnel-training .input-display {
    /* width: 603px; */
    height: 370px;
    margin-left: 655px;
}

.home .bottom .personnel-training .input-manager {
    height: 110px;
    margin-bottom: 5px;
    padding: 25px 0 0 15px;
}

.home .bottom .personnel-training .input-personel td:not(.name-tips):not(.assist-tag):not(.training-tag):not(.meeting-tag) {
    padding: 2px 5px 10px;
}

.home .bottom .personnel-training td > div.tag {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
    border-radius: 2px;
}

.home .bottom .personnel-training td.assist-tag > div.tag {
    background-color: #00ACFF;
}

.home .bottom .personnel-training td.training-tag > div.tag {
    background-color: #356BFF;
}

.home .bottom .personnel-training td.meeting-tag > div.tag {
    background-color: #6BD8FA;
}

.home .bottom .personnel-training td.kpi-tag > div.tag {
    background-color: #D6E9F7;
    position: relative;
    z-index: auto;
    top: 0;
    left: 30px;
}

.home .bottom .personnel-training td.administrativ-tag > div.tag {
    background-color: #374066;
    position: relative;
    z-index: auto;
    top: 0;
    left: 30px;
}

.home .bottom .personnel-training td.undistributed-tag > div.tag {
    background-color: #DCDBDC;
    position: relative;
    z-index: auto;
    top: 0;
    left: 30px;
}


.home .bottom .personnel-training td {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
}

.home .bottom .personnel-training td.person-tips {
    text-align: center;
}

.home .bottom .personnel-training td.name-tips {
    text-align: right;
}

.home .bottom .personnel-training td input {
    background-color: #6F727E;
    text-align: right;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.home .bottom .personnel-training .input-manager td input {
    width: 90px;
    height: 33px;
}

.home .bottom .personnel-training .input-training td input {
    width: 90px;
    height: 33px;
}

.home .bottom .personnel-training .input-training td.input-meeting input {
    width: 490px;
    height: 33px;
}

.home .bottom .personnel-training .input-training {
    height: 255px;
    padding: 25px 0 0 15px;
}

.home .bottom .personnel-training .input-display td input {
    width: 90px;
    height: 33px;
}

.home .bottom .personnel-training .input-display .text-display {
    margin: 30px 0 0 3px;
}

.home .bottom .personnel-training .input-display .text-display td {
    text-align: right;
}

.home .bottom .personnel-training .input-display .text-display td:not(.name-tips):not(.assist-tag):not(.training-tag):not(.meeting-tag):not(.kpi-tag):not(.administrativ-tag):not(.undistributed-tag) {
    padding: 30px 0 30px 10px;
}

.home .bottom .personnel-training .input-display .text-display .big-text {
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
}
.home .bottom .personnel-training .input-display .allot-time {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: -50px;
}

.home .answer-tab {
    margin: 14px 0 0 0;
}

.home .answer-tab button {
    width: 170px;
    height: 45px;
    letter-spacing: .3rem;
    border-radius: 50px;
    /* border: 1px solid #4C515F; */
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    background-color: #4C515F;
    color: #97989C;
}

.home .answer-tab button.active:active {
    border: 1px solid #4C515F;
}

.home .answer-tab button.active {
    box-shadow: 1px 0 2px #454649;
    background-color: #58595D;
    color: #373A44;
}

.home .answer-tab button[class*="submit-btn"] {
    width: 120px;
    height: 45px;
    margin-right: -25px;
    background-color: #4A8886;
    color: #FFFFFF;
}
