@(data: String Map List[String Map String])
<div class="box-body">
    <div style="width: 100%; height: auto; visibility: inherit;" class="datatables html-widget html-widget-output">
        <div class="dataTables_wrapper no-footer">
            <table class="display dataTable no-footer table-striped" role="grid">
                <caption></caption>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">名称</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">区域</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">类型</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">口服抗生素</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">一代降糖药</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">三代降糖药</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">皮肤药</th>
                    </tr>
                </thead>
                <tbody class="client">
                    @for( i <- 1 to data.size){
                        <tr role="row" >
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("hospname")).map(x => x("hospname")).getOrElse("")}</td>
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("area")).map(x => x("area")).getOrElse("")}</td>
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("type")).map(x => x("type")).getOrElse("")}</td>
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("口服抗生素")).map{x => if(x("口服抗生素").isEmpty) "0" else x("口服抗生素")}.getOrElse("0")}</td>
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("一代降糖药")).map{x => if(x("一代降糖药").isEmpty) "0" else x("一代降糖药")}.getOrElse("0")}</td>
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("三代降糖药")).map{x => if(x("三代降糖药").isEmpty) "0" else x("三代降糖药")}.getOrElse("0")}</td>
                            <td class=" dt-center">@{
                                val cli = (i+"", data(i+""))
                                cli._2.find(f => f.contains("皮肤药")).map{x => if(x("皮肤药").isEmpty) "0" else x("皮肤药")}.getOrElse("0")}</td>
                        </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>