@(data: List[String Map String])
<div class="box-body">
    <div style="width: 100%; height: auto; visibility: inherit;" class="datatables html-widget html-widget-output shiny-bound-output">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <table class="display dataTable no-footer table-striped" id="DataTables_Table_0" role="grid">
                <caption></caption>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 150px;">医院</th>
                        <th class="sorting_disabled dt-left" rowspan="1" colspan="1" style="width: 80px;"></th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">快报</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">上期销售额(元)</th>
                    </tr>
                </thead>
                <tbody class="news">
                    @for(his <- data.zipWithIndex) {
                        <tr role="row" >
                            <td class=" dt-center">@{his._1("hospname")}</td>
                            <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp"+{his._2 + 1}+".png")" height="52"></td>
                            <td class=" dt-center">@{his._1("letters")}</td>
                            <td class=" dt-center">@{his._1("periodsales")}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>