@()
<div class="tab-pane active" role="tabpanel" data-value="新闻" id="tab-2685-1">
    <section class="content container-fluid">
        <div class="row clean-bootstrap-col-padding-all">
            <div class="col-sm-2" title="周期列表">
                <button class="btn btn-default" id="cycle1-news" type="button">周期1:新闻快报</button>
                <br>
                <br>
                <button class="btn btn-default disabled" id="cycle2-news" type="button">周期2:新闻快报</button>
            </div>
            <div class="col-sm-10 ">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">新闻快报</h3>
                    </div>
                    <div id="market-info-new-content"></div>
                    @*<!-- @Module.MarketInfo.market_info_news_content() -->*@
                </div>
            </div>
        </div>
    </section>
</div>
