@()
<div class="box-body">
    <div style="width: 100%; height: auto; visibility: inherit;" class="datatables html-widget html-widget-output shiny-bound-output">
        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
            <table class="display dataTable no-footer table-striped" id="DataTables_Table_1" role="grid">
                <caption></caption>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">名称</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">区域</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">类型</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">口服抗生素</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">一代降糖药</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">三代降糖药</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">皮肤药</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" >
                        <td class=" dt-center">人民医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">三级</td>
                        <td class=" dt-center">10,000,000</td>
                        <td class=" dt-center">2,000,000</td>
                        <td class=" dt-center">1,900,000</td>
                        <td class=" dt-center">200,000</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">军区医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">二级</td>
                        <td class=" dt-center">3,000,000</td>
                        <td class=" dt-center">1,000,000</td>
                        <td class=" dt-center">300,000</td>
                        <td class=" dt-center">100,000</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">中日医院</td>
                        <td class=" dt-center">法拉市郊区</td>
                        <td class=" dt-center">三级</td>
                        <td class=" dt-center">6,000,000</td>
                        <td class=" dt-center">1,200,000</td>
                        <td class=" dt-center">300,000</td>
                        <td class=" dt-center">1,000,000</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">铁路医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">二级</td>
                        <td class=" dt-center">5,000,000</td>
                        <td class=" dt-center">1,200,000</td>
                        <td class=" dt-center">600,000</td>
                        <td class=" dt-center">120,000</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">海港医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">二级</td>
                        <td class=" dt-center">1,800,000</td>
                        <td class=" dt-center">600,000</td>
                        <td class=" dt-center">200,000</td>
                        <td class=" dt-center">60,000</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">第六医院</td>
                        <td class=" dt-center">法拉市郊区</td>
                        <td class=" dt-center">二级</td>
                        <td class=" dt-center">3,600,000</td>
                        <td class=" dt-center">720,000</td>
                        <td class=" dt-center">250,000</td>
                        <td class=" dt-center">0</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">小营医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">一级</td>
                        <td class=" dt-center">3,000,000</td>
                        <td class=" dt-center">1,000,000</td>
                        <td class=" dt-center">180,000</td>
                        <td class=" dt-center">0</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">光华医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">一级</td>
                        <td class=" dt-center">1,080,000</td>
                        <td class=" dt-center">360,000</td>
                        <td class=" dt-center">40,000</td>
                        <td class=" dt-center">0</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">西河医院</td>
                        <td class=" dt-center">法拉市郊区</td>
                        <td class=" dt-center">一级</td>
                        <td class=" dt-center">720,000</td>
                        <td class=" dt-center">432,000</td>
                        <td class=" dt-center">100,000</td><td class=" dt-center">290,000</td>
                    </tr>
                    <tr role="row" >
                        <td class=" dt-center">大学医院</td>
                        <td class=" dt-center">法拉市市区</td>
                        <td class=" dt-center">三级</td>
                        <td class=" dt-center">12,000,000</td>
                        <td class=" dt-center">1,300,000</td>
                        <td class=" dt-center">1,000,000</td>
                        <td class=" dt-center">300,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>