@(data: List[String Map String])
<div class="box-body">
    <div style="width: 100%; height: auto; visibility: inherit;" class="datatables html-widget html-widget-output">
        <div class="dataTables_wrapper no-footer">
            <table class="display dataTable no-footer table-striped" role="grid">
                <caption></caption>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 150px;">医院</th>
                        <th class="sorting_disabled dt-left" rowspan="1" colspan="1" style="width: 80px;"></th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">快报</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;" name="show-switch">上期销售额(元)</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;" name="show-switch">口服抗生素</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;" name="show-switch">一代降糖药</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;" name="show-switch">三代降糖药</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;" name="show-switch">皮肤药</th>
                    </tr>
                </thead>
                <tbody class="news">
                    @for(his <- data.zipWithIndex) {
                        <tr role="row">
                            <td class="dt-center">@{his._1("hospname")}</td>
                            <td class="dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp"+{his._2 + 1}+".png")" height="52"></td>
                            <td class="dt-center">@{his._1.getOrElse("letters", "")}</td>
                            <td class="dt-center" name="show-switch">@{his._1.getOrElse("periodsales", "0")}</td>
                            <td class="dt-center" name="show-switch">@{his._1.getOrElse("口服抗生素", "0")}</td>
                            <td class="dt-center" name="show-switch">@{his._1.getOrElse("一代降糖药", "0")}</td>
                            <td class="dt-center" name="show-switch">@{his._1.getOrElse("三代降糖药", "0")}</td>
                            <td class="dt-center" name="show-switch">@{his._1.getOrElse("皮肤药", "0")}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>