@()
<div class="box-body">
    <div style="width: 100%; height: auto; visibility: inherit;" class="datatables html-widget html-widget-output shiny-bound-output">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <table class="display dataTable no-footer" id="DataTables_Table_0" role="grid">
                <caption></caption>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 150px;">医院</th>
                        <th class="sorting_disabled dt-left" rowspan="1" colspan="1" style="width: 80px;"></th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">快报</th>
                        <th class="sorting_disabled dt-center" rowspan="1" colspan="1" style="width: 250px;">上期销售额(元)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class=" dt-center">人民医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp1.png")" height="52"></td>
                        <td class=" dt-center">这是一家三级医院。1000张病床。外科和呼吸科很强，抗生素使用量很大。内分泌科病人量大。降糖药使用较多。最近院内临床观察结果公布，证明三代降糖药效果突出，医生逐步替代一代降糖药。</td>
                        <td class=" dt-center">1,809,131</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class=" dt-center">军区医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp2.png")" height="52"></td>
                        <td class=" dt-center">这是一家二级医院，300张病床。外科和内科都使用一些抗生素。皮肤科很小。内分泌临床习惯使用一代降糖药，医生对三代降糖药不认可，不愿意使用，病人支付能力低也阻碍了三代的使用.</td>
                        <td class=" dt-center">663,300</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class=" dt-center">中日医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp3.png")" height="52"></td>
                        <td class=" dt-center">这是一家三级医院。700张病床。医院目前处于高速发展中，正在扩建外科大楼，将带来明显的病人增长，目标建立全国皮肤研究中心，打造皮肤科研能力，是皮肤领域的最大医院。作为综合医院，抗生素和糖尿病产品也使用。</td>
                        <td class=" dt-center">1,217,197</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class=" dt-center">铁路医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp4.png")" height="52"></td>
                        <td class=" dt-center">这是一家二级医院。500张病床。最近从一家三级大医院调来一位新院长，医院硬件软件不断提高，病人量出现20%+明显增长.但整体上病人的支付能力不高。</td>
                        <td class=" dt-center">1,069,903</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class=" dt-center">海港医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp5.png")" height="52"></td>
                        <td class=" dt-center">这是一家二级医院，250张病床。外科和内科都使用一些抗生素。皮肤科很小。内分泌临床习惯使用一代降糖药，医生对三代降糖药不认可，不愿意使用，病人支付能力低也阻碍了三代的使用.</td>
                        <td class=" dt-center">405,729</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class=" dt-center">第六医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp6.png")" height="52"></td>
                        <td class=" dt-center">这是一家二级医院，300张病床。外科病人多，外科医生习惯滥用抗生素。没有皮肤科。内分泌临床习惯使用一代降糖药。</td>
                        <td class=" dt-center">663,545</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class=" dt-center">小营医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp7.png")" height="52"></td>
                        <td class=" dt-center">这是一家一级医院，100张病床。没有皮肤科。但地处城市中心位置，病人较多。医院在糖尿病防治方面进行投资，吸引更多病人。但老病人多。一代降糖药更受到欢迎。</td>
                        <td class=" dt-center">687,457</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class=" dt-center">光华医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp8.png")" height="52"></td>
                        <td class=" dt-center">这是一家一级医院，100张病床。没有皮肤科。病人不多。</td>
                        <td class=" dt-center">192,616</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class=" dt-center">西河医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp9.png")" height="52"></td>
                        <td class=" dt-center">这是一家一级医院，100张病床。新院长到来后，医院硬件软件不断提高，病人量出现20%+明显增长。着力打造皮肤科特色。医院的皮肤专家不断增加，知名度不断提升，更多皮肤病人来就医。</td>
                        <td class=" dt-center">164,809</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class=" dt-center">大学医院</td>
                        <td class=" dt-left"><img src="@routes.Assets.versioned("images/Hospitals/hosp10.png")" height="52"></td>
                        <td class=" dt-center">这是一家三级医院。1200张病床。外科和呼吸科很强，抗生素使用量很大。内分泌科病人量大。降糖药使用较多。最近院内临床观察结果公布，证明三代降糖药效果突出，医生逐步替代一代降糖药。</td>
                        <td class=" dt-center">1,906,432</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>