@media (max-width: 768px) {
    .application{
        padding-top: 120px !important;
    }
}
body {

}

.active {
    color: #EEEEEE;
}
.application {
    min-width: 1440px;
    margin: 0;
    padding-top: 50px;
    background: #373A44;
}
.application > .header {
    min-height: 50px;
    background: #484D5B;
    color: #EEEEEE;
    font-size: 1.2rem;
    letter-spacing: 0.12em;
}
.application p[class="navbar-text"] {
    margin-top: 10px;
    margin-bottom: 0;
}
